.jsroot
  .controls-resize-wrapper
    .controls-wrapper
      button.btn.btn-primary.open-file
        | Open File
      hr
      #TreeView

  .image-wrapper
    #placeholder
      .vispa-table-outer
        .vispa-table-inner.text-center
          #PadView
            | Open ROOT File to load TSomething
