.jsroot
  .controls-resize-wrapper
    .controls-wrapper
      button.btn.btn-primary.open-file
        | Open File
      hr
      #TreeView

  .image-wrapper
    .canvas-wrapper.ui-widget-content
      #PadView
        .placeholder
          .vispa-table-outer
            .vispa-table-inner.text-center
              | Open ROOT File to load TSomething
