.jsroot

  .sidebar-resize-wrapper
    .sidebar-wrapper
      .tree

  .content-wrapper

    .placeholder
      .vispa-table-outer
        .vispa-table-inner.text-center
          | Open ROOT file to load something

    .canvas-wrapper
      .pad
