[submodule "vispa_jsroot/static/vendor/jsroot"]
	path = vispa_jsroot/static/vendor/jsroot
	url = https://github.com/linev/jsroot
[submodule "vispa_jsroot/static/vendor/mathjax"]
	path = vispa_jsroot/static/vendor/mathjax
	url = https://github.com/mathjax/MathJax
