@initial-tree-width: 200px;

.jsroot-icon() {
  position           : relative;
  display            : inline-block;
  background-repeat  : no-repeat;
  background-position: center;
}

.jsroot-icon-tab {
  .jsroot-icon();
  background-image: url(../img/root_icon_18.png);
  height          : 22px;
  width           : 22px;
}

.jsroot-icon-menu {
  .jsroot-icon();
  background-image: url(../img/root_icon_14.png);
  height          : 14px;
  width           : 14px;
  top             : 1px;
  margin-right    : 3px;
}

.vispa-jsroot {

  .absolute();
  overflow: hidden;

  .sidebar-resize-wrapper {
    .absolute2(@width: @initial-tree-width);
    border      : 1px solid #b8b8b8;
    border-width: 0px 1px 0px 0px;

    > .ui-resizable-e {
      position: absolute;
      top     : 0px;
      right   : -5px;
      bottom  : 0px;
      width   : 10px;
      cursor  : ew-resize;
      z-index : 1 !important;

      &:active {
        right: -500px;
        width: 1000px;
      }
    }

    > .ui-icon {
      width : 0px;
      height: 0px;
    }

    .sidebar-wrapper {
      .absolute();
      overflow: auto;
      padding : 10px 20px;

      button {
        margin-top: 10px;
      }
      hr {
        margin-top: 10px !important 0px 10px !important 0px;
      }
      .tree > div {
        overflow: visible !important;
      }
    }

  }

  .content-wrapper {
    .absolute(@left: @initial-tree-width);

    //.canvas-wrapper {
    //  .absolute();

    .pad {
      .absolute(@top: 16px; @right: 16px; @bottom: 16px; @left: 16px);
    }
      // workaround
      //.ui-icon {
      //  width : 16px;
      //  height: 16px;
      //}

      // .pad {
      //   .absolute(@top: 16px; @right: 16px; @bottom: 16px; @left: 16px);

      //   .root_canvas {
      //     width : 100% !important;
      //     height: 100% !important;
      //   }

      //   canvas {
      //     width : 100% !important;
      //     height: 100% !important;
      //   }

      // }

      // .frame {
      //   .absolute();
      //   display: none;
      // }

    //}

  }

}


.absolute(@top: 0px; @right: 0px; @bottom: 0px; @left: 0px) {
  position: absolute;
  top     : @top;
  right   : @right;
  bottom  : @bottom;
  left    : @left;
}

.absolute2(@top: 0px; @left: 0px; @height: 100%; @width: 100%) {
  position: absolute;
  top     : @top;
  left    : @left;
  height  : @height;
  width   : @width;
}
